<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg">

    <head>
        
        <meta charset="utf-8" />
        <title>Gazing Technosoft</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- Layout config Js -->
        <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
        <!-- Bootstrap Css -->
        <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        
        <!-- Icons Css -->
        <link href="{{ url_for('static', filename='assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{ url_for('static', filename='assets/css/app.min.css') }}" rel="stylesheet" type="text/css" />
        
        <!-- swiper css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/libs/swiper/swiper-bundle.min.css') }}">
       
        <!-- countdown css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/libs/countdown/jQuery.countdownTimer.css') }}">

        <!-- custom Css-->
        <link href="{{ url_for('static', filename='assets/css/custom.min.css') }}" rel="stylesheet" type="text/css" />


    </head>

    <body>

        <!-- Begin page -->
        <div id="layout-wrapper">
            
            <header id="page-topbar">
           
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
              
                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger"
                    id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>

                <!-- App Search-->
                <form class="app-search d-none d-md-block">
                    <div class="position-relative">
                        <new id="search-options" value="">
                        <span class="mdi mdi-close-circle search-widget-icon search-widget-icon-close d-none"
                            id="search-close-options"></span>
                    </div>
                 
                </form>
            </div>
            <div class="d-flex align-items-center">

                <!-- <div class="dropdown d-md-none topbar-head-dropdown header-item">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                        id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="bx bx-search fs-22"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                        aria-labelledby="page-header-search-dropdown">
                        <form class="p-3">
                            <div class="form-group m-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search ..."
                                        aria-label="Recipient's username">
                                    <button class="btn btn-primary" type="submit"><i
                                            class="mdi mdi-magnify"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>               -->
                <div class="dropdown ms-sm-3 header-item topbar-user">
                    <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <img class="rounded-circle header-profile-user" src="static/assets/images/users/avatar-1.jpg"
                                alt="Header Avatar">
                            <span class="text-start ms-xl-2">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{ session['username'] }}</span>
                                <span class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">{{ designation }}</span>
                            </span>
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <h6 class="dropdown-header">Welcome {{fname}} !</h6>
                        <a class="dropdown-item" href="/profile">
                            <i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span
                                class="align-middle">Profile</span></a>
                             
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout"><i
                                class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span
                                class="align-middle" data-key="t-logout">Logout</span></a>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
   
</header>

{% block body %} {% endblock %}

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © Company.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by Gazing Technosoft
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->





<!-- JAVASCRIPT -->
<script src="{{ url_for('static', filename='assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/libs/simplebar/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/libs/node-waves/waves.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/libs/feather-icons/feather.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/pages/plugins/lord-icon-2.1.0.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>

<!-- apexcharts -->
<script src="{{ url_for('static', filename='assets/libs/apexcharts/apexcharts.min.js') }}"></script>

<!-- Dashboard init -->
<script  src="{{ url_for('static', filename='assets/js/pages/dashboard-crm.init.js') }}"></script>

<!-- swiper js -->
<script src="{{ url_for('static', filename='assets/libs/swiper/swiper-bundle.min.js') }}"></script>

<!-- countdown js -->
<script src="{{ url_for('static', filename='assets/libs/countdown/jQuery.countdownTimer.js') }}"></script>

<!-- profile init js -->
<script src="{{ url_for('static', filename='assets/js/pages/profile.init.js') }}"></script>

<!-- Team init -->
<script src="{{ url_for('static', filename='assets/js/pages/team.init.js') }}"></script>

<!-- prismjs plugin -->
<script src="{{ url_for('static', filename='assets/libs/prismjs/prism.js') }}"></script>

<!-- App js -->
<script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>



</body>

</html>