{% extends "admin-layout.html" %}
{% block body %} 

{% include 'admin-sidebar.html' %}

      <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Today Attendence</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                   
                                    <div class="card-body">
                                        <div id="customerList">
                                            <div class="row g-4 mb-3">
                                                
                                                <div class="col-sm">
                                                    <div class="d-flex justify-content-sm-end">
                                                        <div class="search-box ms-2">
                                                            <input type="text" class="form-control search" placeholder="Search...">
                                                            <i class="ri-search-line search-icon"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="table-responsive table-card mt-3 mb-1">
                                                <table class="table align-middle table-nowrap" id="customerTable">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th class="sort" data-sort="image">Image</th>
                                                            <th class="sort" data-sort="employeeid">Employee ID</th>
                                                            <th class="sort" data-sort="name">Name</th>
                                                            <th class="sort" data-sort="check-in">Check-in</th>
                                                            <th class="sort" data-sort="break">Break</th>
                                                            <th class="sort" data-sort="Check-out">Check-out</th>
                                                            <th class="sort" data-sort="hour">Working Hours</th>
                                                            <th class="sort" data-sort="status">Status</th>
                                                        </tr>
                                                    </thead>
                                                    {% for attend in attend_list %}
                                                    {% for emp in emp_list %}
                                                    <tbody class="list form-check-all">
                                                        <tr>
                                                            <td class="image"><img class="picpro" src="static/assets/employee/{{ emp.profilepic }}"></td>
                                                            <td class="name">{{ emp.employeeid }}</td>
                                                            <td class="name">{{ emp["fname"] }} {{ emp["lname"] }}</td>
                                                            <td class="check-in">{{attend.punch_in}}</td>
                                                            <td class="break">{{break}}</td>
                                                            <td class="Check-out">{{attend.punch_out}}</td>
                                                            <td class="hour">{{working_hours}}</td>
                                                            <td class="status"><span class="badge badge-soft-success text-uppercase">Present</span></td> 
                                                        </tr>
                                                    </tbody>
                                                    {% endfor %}
                                                    {% endfor %}
                                                </table>
                                                <div class="noresult" style="display: none">
                                                    <div class="text-center">
                                                        <!-- <lord-icon src="../../../msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                        </lord-icon> -->
                                                        <h5 class="mt-2">Sorry! No Result Found</h5>
                                                        <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any
                                                            orders for you search.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="d-flex justify-content-end">
                                                <div class="pagination-wrap hstack gap-2">
                                                    <a class="page-item pagination-prev disabled" href="#">
                                                        Previous
                                                    </a>
                                                    <ul class="pagination listjs-pagination mb-0"></ul>
                                                    <a class="page-item pagination-next" href="#">
                                                        Next
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end card -->
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
                   
            {% endblock %}
    